<div class="py-2 px-3">
  <form class="relative w-full pr-9"
    [formGroup]="commentForm"
    (ngSubmit)="onSubmit()">
    <div class="relative">
      <div class="block w-full py-2 px-3 border leading-tight whitespace-pre-wrap opacity-0">
        {{ body.value }}
      </div>
      <div class="absolute inset-x-0 inset-y-0">
        <textarea
          class="w-full h-full px-3 border border-gray-300 m-0 bg-gray-200 leading-tight rounded-xxlg"
          formControlName="body"
          minlength="2"
          maxlength="200"
          rows="1"
          placeholder="메시지를 입력하세요"
          required></textarea>
      </div>
    </div>
    <div class="absolute right-0 top-0 w-9 h-9">
      <button
        type="submit"
        class="w-full h-full p-1 border-transparent leading-tight text-green-700 flex justify-center items-center"
        [ngClass]="{'opacity-50': commentForm.invalid}"
        [disabled]="commentForm.invalid">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <g fill="none" fill-rule="evenodd">
            <circle cx="12" cy="12" r="12" fill="#48BB78"/>
            <g transform="translate(6 6)">
              <path stroke="#FFF" stroke-linecap="round" stroke-width="2" d="M4.5 10.357L0.5 5.367 4.452 0.357" transform="rotate(90 5.429 5.929)"/>
              <rect width="11" height="2" x=".5" y="5.5" fill="#FFF" rx=".933" transform="rotate(90 6 6.5)"/>
            </g>
          </g>
        </svg>
      </button>
    </div>
  </form>
</div>
