<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products">
      <ion-icon name="home"></ion-icon>
      홈
    </ion-tab-button>
    <ion-tab-button tab="messages">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      메시지
    </ion-tab-button>
    <ion-tab-button (click)="onClickAdd()">
      <ion-icon name="add-outline"></ion-icon>
      상품등록
    </ion-tab-button>
    <ion-tab-button tab="preference">
      <ion-icon name="options-outline"></ion-icon>
      설정
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
