h2.title {
  font-weight: bold;
  font-size: 1.4rem;
}

.wrapper {
  height: 100%;
}

.code {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
}

.retry {
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
}
